@{
    ViewBag.Title = "Sorry";
}

<h2>Sorry</h2>

<div id="container">
    <div id="main-inner">
        @(ViewBag.Message ?? "Sorry, you do not have permission to access that page.")
    </div>
</div>
@if (ViewBag.LoginAttemptID != null)
{
    <script type="text/javascript">
        $(function () {
            $.post('/Admin/LogAppVersion', { loginAttemptID: @(ViewBag.LoginAttemptID), appVersion: navigator.appVersion });
        });
    </script>
}