@model CambianKPI.DAL.ViewModels.KpiSpreadsheetVM
@{
    ViewBag.Title = "Generate Output Spreadsheet";
}


<h2>Generate Output Spreadsheet</h2>

@using (Html.BeginForm())
{
    <span>Please, select the week you need to generate the spreadsheet for: </span>
    @Html.DropDownListFor(model => model.WeekToFilter, (SelectList)ViewBag.ListOfDates)
    <br />
    <input type="submit" id="btnSubmit" value="Generate" />
}